@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Мои подписки</h1>
</div>
<div id="subscribeList">
</div>
<div id="nextPage" class="text-center">
    <button type="button" onclick="ShowMySubscribes()">Загрузить ещё</button>
</div>
<script>
    var page = 0;
    document.addEventListener('DOMContentLoaded', function () {
        ShowMySubscribes();
    }, false);
</script>
