html {
  font-size: 14px;
  background-color:lightgray;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightgray;
}
.message {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
}
.message-text {
    white-space: pre-wrap;
}
.message-text-short {
    white-space: pre-wrap;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis
}
/*Пробелы между ссылками, используется в тэгах*/
a + a {
    margin-left: 5px;
}